body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#787878;
}
.red, .blue,.yellow,.green
{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin: 5px;
  border-radius: 1rem;
}
.line{
  display: flex;
  flex-direction: row;
}
.red {
  background-color: #d74e4e;
}
.blue{
  background-color: aqua;
}
.yellow{
  
  background-color: rgb(196, 202, 12);
}
.green{
  background-color: rgb(122, 179, 7);
}
.flash{
  background-color: aliceblue;
}